<!-- Modal Trigger -->
<button id='btnremovecampaign' data-target="modal1" class="waves-effect waves-light btn modal-trigger">Remover</button>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Confirma exclusão da campanha</h4>
    <p>Campanha Tittle</p>
  </div>
  <div class="modal-footer">
    <a href="#!"  id='modalyes' class=" modal-action modal-close waves-effect waves-green btn-flat">Sim</a>
    <a href="#!" id='modalno' class=" modal-action modal-close waves-effect waves-green btn-flat">não</a>
  </div>
</div>
