<div class="row campaigns">

  <%= render 'campaigns_details' %>
  <div class="fixed-action-btn campaigns-btn">
    <%= form_tag("/campaigns", method: "post") do %>
      <button class="btn-floating btn-large red pulse" type="submit">
        <i class="large material-icons">add</i>
      </button>
    <% end %>
  </div>
</div>
