<p>Ola <%= @resource.email %>!</p>

<p>O link de modificar senha foi solicitado para modificar sua senha utilize o link abaixo.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não solicitou este email por favor ignore.</p>
<p>Seu password não sera modificado até que seja feito no link acima.</p>
